.oneCol{
  border: 1px dashed #ff3728;
  font-size: 14px;
<<<<<<< HEAD
=======
  margin-top: 30px;
>>>>>>> 0eb9ce3... NazarCommit
}

.nameProp {
  color: darkred;
  text-transform: capitalize;
  text-decoration: dashed;
}
