<div class="row">
  <div class="col-6">
    <p>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ex id iure laborum laudantium minima nemo nihil non numquam qui quod sit tempora tenetur, unde, voluptatum. Earum harum repellat sunt?</span><span>Animi aperiam consequatur culpa distinctio ducimus est, eveniet hic, in iusto laboriosam minima modi mollitia neque numquam quibusdam? Cum deserunt dolor ea error modi numquam omnis optio qui repellat voluptate?</span><span>Ab adipisci assumenda dignissimos ducimus esse harum ipsam itaque, iure magni modi omnis pariatur placeat, provident quae quidem rerum sequi ullam, voluptates? Animi atque hic, laudantium quisquam tempore voluptatibus voluptatum?</span>
    </p>
  </div>
  <div class="col-6">
    <img src="https://mafia.ua/storage/editor/fotos/480x0/polo-metrovaya_1566297194328.jpeg" alt="">
  </div>
</div>
