<div class="container-fluid wrapper-auth">
  <div class="container container-auth">
    <div class="auth">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active"
             routerLinkActive="active"
             routerLink="/"
             [routerLinkActiveOptions]="{exact:true}"
          >Pizza Delivery</a>
        </li>
          <li class="nav-item" *ngIf="!navTitleToGet">
            <a class="nav-link active"
               routerLinkActive="active"
               routerLink="/login"
            >Sign in</a>
          </li>
          <li class="nav-item" *ngIf="!navTitleToGet">
            <a  class="nav-link active"
               routerLinkActive="active"
               routerLink="/register"
            >Sing up</a>
          </li>
        <li class="nav-item" *ngIf="navTitleToGet">
          <a  class="nav-link active"
              routerLinkActive="active"
              routerLink="/my-info"
          >Cabinet</a>
        </li>
      </ul>
    </div>
  </div>
</div>
